
<header id="header">
<section class="container clearfix">
<div class="logo"><a href="index.html"><img alt="" src="http://2code.info/demo/html/ask-me-html/images/logo.png"></a></div>
<nav class="navigation">
<ul>

<li class="ask_question"><a href="ask_question.html">Ask Question</a></li>


<li><a href="login.html">Login</a></li>
<li><a href="register.html">Register</a></li>

<li><a href="contact_us.html">Contact Us</a></li>
</ul>
</nav>
</section> 
</header>