
<header id="header">
<section class="container clearfix">
<div class="logo"><a href="index.html"><img alt="" src="http://2code.info/demo/html/ask-me-html/images/logo.png"></a></div>
<nav class="navigation">
<ul>


<li class="ask_question">
<%= link_to "ask_question.html" do %>
	Ask Question
<% end %>
</li>


<li>
<%= link_to "login.html" do %>
Login 
<% end %>
</li>
<li>
<%= link_to "register.html" do %>
Register
<% end %>
</li>
<li>
<%= link_to "contact_us.html" do %>
Contact
<% end %>
</li>
</ul>
</nav>
</section> 
</header>